{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
    <h1>Page list</h1>

    <h2>Enter search data</h2>
    {{ form_start(formSearch) }}
    {{ form_widget(formSearch) }}
    <button class="btn btn-primary">{{ button_label|default('Search') }}</button>
    {{ form_end(formSearch) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Status</th>
                <th>Author</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>Owner</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.body }}</td>
                <td>{{ page.status ? 'Yes' : 'No' }}</td>
                <td>{{ page.author }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>{{ page.user }}</td>
                {% endif %}

                <td>
                    {% if is_granted("ROLE_ADMIN") %}
                        {# For admin user #}
                        <a href="{{ path('app_page_show', {'id': page.id}) }}">show</a>
                        <a href="{{ path('app_page_edit', {'id': page.id}) }}">edit</a>
                    {% else %}
                        {# For user #}
                        <a href="{{ path('app_user_page_show', {'id': page.id}) }}">show</a>
                        <a href="{{ path('app_user_page_edit', {'id': page.id}) }}">edit</a>
                    {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_page_new') }}">Create new</a>
        {% else %}
            <a href="{{ path('app_user_page_new') }}">Create new</a>
    {% endif %}
{% endblock %}
