{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
    <h1>Page</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ page.body }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ page.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ page.author }}</td>
            </tr>
             <tr>
                <th>Tags</th>
                {# <td>{{ page.tags }}</td> #}
                <td>{{ page_tags|join(',') }}</td> 
                
               {#  {% for page_tag in page.tags %}
                {{ page_tag.name }}
                {% endfor %} #}

            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_page_index') }}">back to list</a>

    <a href="{{ path('app_page_edit', {'id': page.id}) }}">edit</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
