{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Blog list</h1>

    <h2>Enter search data</h2>
    {{ form_start(formSearch) }}
    {{ form_widget(formSearch) }}
        <button class="btn btn-primary">{{ button_label|default('Search') }}</button>
    {{ form_end(formSearch) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Text</th>
                <th>Category</th>
                <th>Blog Collection</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.description }}</td>
                <td>{{ blog.text }}</td>
                {% if blog.category %}
                    <td>{{ blog.category.name }}</td>
                {% else %}
                    <td>No category</td>
                {% endif %}
                {% if blog.blogCollection %}
                    <td>{{ blog.blogCollection.name }}</td>
                {% else %}
                    <td>No blog collection</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_blog_show', {'id': blog.id}) }}">show</a>
                    <a href="{{ path('app_blog_edit', {'id': blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blog_new') }}">Create new</a>
{% endblock %}
