{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Blog list</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h2>Enter search data</h2>
    {{ form_start(formSearch) }}
    {{ form_widget(formSearch) }}
    <button class="btn btn-primary">{{ button_label|default('Search') }}</button>
    {{ form_end(formSearch) }}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Text</th>
            <th>Category</th>
            <th>Percent Uniqueness</th>
            <th>Blog Collection</th>
            {% if is_granted("ROLE_ADMIN") %}
                <th>Owner</th>
            {% endif %}
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for blog in pagination %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.description|length > 100 ? blog.description|striptags|slice(0, 100) ~ '...' : blog.description|striptags }}</td>
                <td>{{ blog.text|length > 100 ? blog.text|striptags|slice(0, 100) ~ '...' : blog.text|striptags }}</td>
                {% if blog.category %}
                    <td>{{ blog.category.name }}</td>
                {% else %}
                    <td>No category</td>
                {% endif %}
                <td>{{ blog.percent }}</td>
                {% if blog.blogCollection %}
                    <td>{{ blog.blogCollection.name }}</td>
                {% else %}
                    <td>No blog collection</td>
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                    <td>{{ blog.user }}</td>
                {% endif %}

                <td>
                    {% if is_granted("ROLE_ADMIN") %}
                        {# For admin user #}
                        <a href="{{ path('app_blog_show', {'id': blog.id}) }}">show</a>
                        <a href="{{ path('app_blog_edit', {'id': blog.id}) }}">edit</a>
                    {% else %}
                        {# For user #}
                        <a href="{{ path('app_user_blog_show', {'id': blog.id}) }}">show</a>
                        <a href="{{ path('app_user_blog_edit', {'id': blog.id}) }}">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% if is_granted("ROLE_ADMIN") %}
        {# For admin user #}
        <a href="{{ path('app_blog_new') }}">Create new</a>
    {% else %}
        {# For user #}
        <a href="{{ path('app_user_blog_new') }}">Create new</a>
    {% endif %}
{% endblock %}
