{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1>Blog</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ blog.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ blog.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ blog.description }}</td>
        </tr>
        <tr>
            <th>Text</th>
            <td>{{ blog.text }}</td>
        </tr>
        {% if blog.category %}
            <tr>
                <th>Category</th>
                <td>{{ blog.category }}</td>
                <td>{{ blog.category.fullname }}</td>
            </tr>
        {% endif %}
        {% if blog.blogCollection %}
            <tr>
                <th>Blog Collection</th>
                <td>{{ blog.blogCollection.name }}</td>
            </tr>
        {% endif %}

        <tr>
            <th>Tags</th>
            {# <td>{{ page.tags }}</td> #}
            <td>{{ blog_tags|join(',') }}</td>

            {#  {% for page_tag in page.tags %}
                {{ page_tag.name }}
                {% endfor %} #}

        </tr>
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_blog_index') }}">back to list</a>
        <a href="{{ path('app_blog_edit', {'id': blog.id}) }}">edit</a>
    {% endif %}
    {% if is_granted("ROLE_USER") %}
        <a href="{{ path('app_user_blog_index') }}">back to list</a>
        <a href="{{ path('app_user_blog_edit', {'id': blog.id}) }}">edit</a>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
        {{ include('blog/_delete_form.html.twig') }}
    {% endif %}

    <h3 class="commentForm">Comments</h3>
    {% if blog.comments %}
        {% for blog_comment in blog.comments %}
            <p> <span class="comment_id">{{ blog_comment.id }}</span> {{ blog_comment.text }}</p>
        {% endfor %}
    {% endif %}

    {% if commentForm is defined  %}
        <h4 class="commentForm">Add comment</h4>
        {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(commentForm) }}
        <br />

    {% endif %}

{% endblock %}
