<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <script src="/js/color-modes.js"></script>

    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/jumbotrons/">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }

        .bd-mode-toggle {
            z-index: 1500;
        }

        .bd-mode-toggle .dropdown-menu .active .bi {
            display: block !important;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/css/jumbotrons.css" rel="stylesheet">


</head>
<body>
<header>
    {#    <h1><a href="{{ path('homepage') }}">Guestbook</a></h1> #}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_default_home') }}">Home</a></li>
                    {% if app.user %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                    {% endif %}
                    {% if app.user is null %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Register</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_user_index') }}">Users</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_blog_index') }}">Blogs</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_user_blog_index') }}">Blogs</a></li>
                    {% endif %}

                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_page_index') }}">Pages</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_user_page_index') }}">Pages</a></li>
                    {% endif %}

                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link"
                                    href="{{ path('app_user_show', {'id': app.user.id}) }}">
                                Hi, {{ app.user.email }} !
                            </a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="weather">
                {% if weather.getWeather() %}
                    {{ weather.getWeather().current.temperature_2m }} &deg;C
                {% endif %}
            </div>

        </div>


    </nav>


    {#    <ul> #}
    {#        {% for conference in conferences %} #}
    {#            <li><a href="{{ path('conference', { slug: conference.slug }) }}">{{ conference }}</a></li> #}
    {#        {% endfor %} #}
    {#    </ul> #}

    <hr/>

</header>
<main>
    {% block body %}{% endblock %}
</main>

{% block content_bottom %} bottom content !! {% endblock %}

{% block footer %}

{% endblock %}

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
